<?xml version="1.0"?>
 
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".json" mimeType="application/json" />
            <mimeMap fileExtension=".pfx" mimeType="application/x-pkcs12" />
     </staticContent>
    </system.webServer>
</configuration>